In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [4]:
df = pd.read_csv('forex_predictions_data.csv')

In [5]:
df.head(5)

,Date,Open,High,Low,Close,Volume,Predicted_Close,Currency_Pair,Signal,Confidence
0,2024-01-01,1.18727,1.92461,0.85312,1.18154,2201,1.22984,EUR/USD,Hold,0.90
1,2024-01-02,1.47536,1.82881,0.54067,1.32296,error,1.03797,EUR/USD,Sell,NaN
2,2024-01-03,1.36600,1.78415,0.54242,1.28539,4420,1.03888,EUR/USD,Sell,NaN
3,2024-01-04,1.29933,1.54684,0.99332,1.17805,4079,1.00117,EUR/USD,Sell,0.64
4,2024-01-05,1.07801,1.68386,0.68714,NaN,1832,1.48385,EUR/USD,Sell,0.68

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             226 non-null    object
 1   Open             224 non-null    float64
 2   High             220 non-null    float64
 3   Low              225 non-null    float64
 4   Close            212 non-null    float64
 5   Volume           226 non-null    object
 6   Predicted_Close  222 non-null    float64
 7   Currency_Pair    229 non-null    object
 8   Signal           227 non-null    object
 9   Confidence       218 non-null    float64
dtypes: float64(6), object(4)
memory usage: 18.0+ KB

In [7]:
df.shape

(229, 10)

In [8]:
print(df.isnull().sum())

Date                3
Open                5
High                9
Low                 4
Close              17
Volume              3
Predicted_Close     7
Currency_Pair       0
Signal              2
Confidence         11
dtype: int64

In [14]:
# Handle missing values
# Gender F, M , Code numeric F = 0, M = 1
#For numerical columns , we fill the missing values using the mean or median
numeric_cols = ['Open', 'High', 'Low', 'Close', 'Volume', 'Predicted_Close', 'Confidence']
for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce') #Convert to numeric , coercing errors to NaN
        # ill NaN values with the mean column
        df[col].fillna(df[col].mean(), inplace=True)
        
# Check again for missing values
categorical_cols = ['Signal']
for col in categorical_cols:
    if col in df.columns:
        df[col] = df[col].fillna(df[col].mode()[0])
        
print("Missing values after handling:")
print(df.isnull().sum())

Missing values after handling:
Date               3
Open               0
High               0
Low                0
Close              0
Volume             0
Predicted_Close    0
Currency_Pair      0
Signal             0
Confidence         0
dtype: int64

C:\Users\User\AppData\Local\Temp\ipykernel_12236\2205484548.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [ ]:
#Convert date column to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors = 'coerce')

# Handle volume columns with error values
df['Volume'] = pd.to_numeric(df['Volume'], errors = 'coerce')
df['Volume'] = df['Volume'].fillna(df['Volume'].median())

#Clean the confidence column
df['Confidence'] = pd.to_numeric(df['Confidence'], errors = 'coerce')
df['Confidence'] = df['Confidence'].fillna(df['Confidence'].median())

#Check the dates column for any invalid dates
invalid_dates = df[df['Date'].apply(lambda x: isinstance(x, datetime))]
if not invalid_dates.empty:
    print("Invalid dates found")
    print(invalid_dates)
    
#Remove duplicates
df.drop_duplicates(inplace=True)

#Check for duplicates
duplicates_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates_count}")

#Remove duplicates
if duplicates_count > 0:
    df.drop_duplicates(inplace=True)
    print("Duplicates removed")
else:
    print("No duplicates found.")
    
#Outliers
#Visualize outliers using boxplots
plt.figure(figsize=(12,6))
sns.boxplot(data=df[numeric_cols])
plt.title('Boxplot of numerical Columns')

In [16]:
print('Number of duplicates: 'df.duplicated().sum())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3370345095.py, line 1)

In [ ]:
# Wrong Data Types
price_cols = ['Open', 'High', 'Low', 'Close', 'Predicted_Close']
for col in price_cols:
    if col in df.columns"